*.o
*.d
*.pyc
autom4te.cache
steve/stevelex.c
steve/format.c
steve/steveparse.tab.c
steve/steveparse.tab.h
config.log
config.status
Makefile
wx/Makefile
plugins/*/Makefile
bin
lib/libbreve.a
README.txt
README_SOURCE.txt
OSX/ConfigureLibraryList
configure
include/breve/config.h
Qt/breve.pro
**/xcuserdata
**/project.xcworkspace
**/.DS_Store
DerivedData
