#PUSH CONFIGURATION
(
	10	ENV.MAX-RANDOM-INTEGER
	-10	ENV.MIN-RANDOM-INTEGER
	100	ENV.EVALPUSH-LIMIT
	20	ENV.MAX-POINTS-IN-RANDOM-EXPRESSION
	50	ENV.MAX-POINTS-IN-PROGRAM
	10.0	ENV.MAX-RANDOM-FLOAT
	-10.0	ENV.MIN-RANDOM-FLOAT
	1.0	ENV.RANDOM-FLOAT-RESOLUTION

	CODE.QUOTE
	(
		FLOAT.%
		FLOAT.*
		FLOAT.+
		FLOAT.-
		FLOAT./
		FLOAT.DUP
		FLOAT.POP
		FLOAT.SWAP
		FLOAT.ERC
		NAME.QUOTE
	)
	ENV.INSTRUCTIONS # read in function set

	
) 
#END OF PUSH2 CONFIGURATION
