#PUSH CONFIGURATION
(
	10	ENV.MAX-RANDOM-INTEGER
	-10	ENV.MIN-RANDOM-INTEGER
	100	ENV.EVALPUSH-LIMIT
	50	ENV.MAX-POINTS-IN-RANDOM-EXPRESSION
	100	ENV.MAX-POINTS-IN-PROGRAM
	1.0	ENV.MAX-RANDOM-FLOAT
	-1.0	ENV.MIN-RANDOM-FLOAT

	CODE.QUOTE
	(
		INTEGER.%
		INTEGER.*
		INTEGER.+
		INTEGER.-
		INTEGER./
		INTEGER.ERC
	)
	ENV.INSTRUCTIONS # read in function set

	
) 
#END OF PUSH2 CONFIGURATION
