<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tz</string>
				<string>breve</string>
				<string>py</string>
				<string>bpy</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocumentIcons.icns</string>
			<key>CFBundleTypeName</key>
			<string>breve source document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>btzf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>slBreveSourceDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tzb</string>
				<string>breveb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocumentIcons.icns</string>
			<key>CFBundleTypeName</key>
			<string>breve binary file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>btzb</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
				<string>slxml</string>
				<string>brevexml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DocumentType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>bxMl</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>breve</string>
	<key>CFBundleGetInfoString</key>
	<string>breve $(BREVE_VERSION)</string>
	<key>CFBundleHelpBookFolder</key>
	<string>docs</string>
	<key>CFBundleHelpBookName</key>
	<string>breve help</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>org.spiderland.breve</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>breve</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(BREVE_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(BREVE_VERSION)</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>slBreveApplication</string>
</dict>
</plist>
